  .pl763847__wrap {
    position: fixed;
    width: 94%;
    max-width: 420px;
    height: auto;
    /* top: 0; */
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    /* min-height: 100%; */
    font-size: 0;
    line-height: 0;
    text-align: center;
    white-space: nowrap;

    font-family: 'Roboto', sans-serif!important;
     display: none; 
    z-index: 10000000000;
  }
  .pl763847__content {
    display: flex;
    vertical-align: top;
    
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    
    letter-spacing: normal!important;
    text-transform: none!important;
    text-align: left!important;
    justify-content: center;
  }
  .pl763847__btn{
    cursor: pointer;
  }

  .pl763847__content p{
    text-shadow: none!important;
    letter-spacing: normal!important;
    text-indent: 0px!important;
    padding: 0!important;
  }
  .pl763847__name__abonem{
    color: #fff;
  }
  .pl763847__icon {
    width: 100px;
    border-radius: 10px;
    height: auto;
  }
  .pl763847__closelink {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 5px;
  }
  .pl763847__closelink img{
    width: 12px;
  }

  .pl763847__img {
    width: 45px;
    height: 45px;
  }
  .pl763847__pictire {
    padding: 14px 16px 0px 15px;
  }
  .pl763847__cont {
    display: inline-block;
    /* vertical-align: top; */
    
    margin: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    
    height: auto;
    font-size: 13px;
    text-align: left;
    background: #2f2f2f;
    white-space: normal;
    z-index: 3;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    right: 0;
    left: 0;
    top: 10px;
    margin: auto;
    box-shadow: 0 0 5px 1px #353535;
    border-radius: 20px;
  }
  .pl763847__cont .pl763847__message p {
    line-height: 17px;
    font-weight: normal;
    text-align: left;
  }

  .pl763847__cont .pl763847__message {
    padding: 19px 10px 15px 0px;
    line-height: 17px;
    color: #fff;
  }

  .pl763847__name__abonem {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
    color: #fff;
  }

  .pl763847__message__desc {
    font-size: 16px;
    margin: 5px 0;
    color: #a8a8a8;
    line-height: 1.2;
  }
  .pl763847__message__desc-bottom {
    font-size: 13px;
    margin: 10px 0 4px;
    color: #a8a8a8;
    line-height: 1.2;
  }

  .pl763847__message {
    text-align: left;
  }

  .pl763847__desc {
    display: flex;
  }



  @keyframes pl763847__bounceInUp {
    0%, 60%, 75%, 90%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }

    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }

    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .pl763847__bounceInUp {
    -webkit-animation-name: pl763847__bounceInUp;
    animation-name: pl763847__bounceInUp;
    animation-duration: 1s;
  }

  @media (max-width: 700px){
    .pl763847__cont{
      top: 55px;
    }
  }